<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ja3Bu9 Fournisseurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>

    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
    
        <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>
        
    <h1>Fournisseurs :</h1>
   


        <table id="myTable" >  
            <thead>  
                <tr class="table100-head">  
                    <th class="column">ID</th>  
                    <th class="column">Nom du fournisseur</th>  
                    <th class="column">Mail</th>  
                    <th class="column">Tele</th>                    
                    <th style="width: 50px;" class="column"></th>  
                    <th style="width: 80px;" class="column"></th>  



                </tr>  
            </thead>  
             <tbody>  
             <% fournisseurs.forEach(function (four) { %>
                <tr>  
                    <td class="column"><%= four.id %> </td>  
                    <td class="column"><%= four.nomfour %></td>  
                    <td class="column"><%= four.mail %></td>
                    <td class="column"><%= four.tele %></td>
                 
                    <td><a href="/delete/four/<%= four.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                    <td><a href="/updatefourni/<%= four.id %> " class="btn btn-sm btn-success"> UPDATE</a> </td>

                </tr>
                                                   
             <% }) %>
             </tbody>
        </table>  
        <br><br>
        <div class="form-group">
            <a style="margin-right: 10px;" type="button" href="/addfourn"  class="btn btn-success">Add Fournisseur</a>
            <a type="button" href="/"  class="btn btn-info">Products</a>
    
        </div>
       





        


</body>

</html>